{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <h4>Profile</h4>
    <div class="card p-3">
      {% if user['avatar'] %}
        <img src="{{ url_for('uploaded_file', filename=user['avatar']) }}" class="img-fluid rounded mb-3" alt="avatar">
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
        <div class="mb-3"><label>Name</label><input name="name" class="form-control" value="{{ user['name'] }}"></div>
        <div class="mb-3"><label>Email</label><input name="email" class="form-control" value="{{ user['email'] }}"></div>
        <div class="mb-3"><label>Avatar</label><input name="avatar" class="form-control" type="file" accept="image/*"></div>
        <button class="btn btn-primary">Update Profile</button>
      </form>
    </div>
  </div>
  <div class="col-md-8">
    <h4>Account</h4>
    <div class="card p-3">
      <p><strong>Username:</strong> {{ user['username'] }}</p>
      <p><strong>Email:</strong> {{ user['email'] }}</p>
      <p><strong>Name:</strong> {{ user['name'] }}</p>
    </div>
  </div>
</div>
{% endblock %}
